democrats overwhelmigly won 2020 elections. 

who won 2020 election

left: it was not dramatic victory, pi chart, 2020


right: democrats electoral vote, republican electoral vote, bar chart different attributes, 2020 electoral vote only